.checkout {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.checkout div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.checkout button {
  width: 4rem;
  margin: auto;
  cursor: pointer;
}
