.checkout {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  position: relative;
}

.checkout div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.checkout label {
  width: 30%;
}

.checkout input {
  width: 25%;
}

.checkout button {
  width: 4rem;
  margin: auto;
  margin-top: 3rem;
  cursor: pointer;
}
